<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Words</key>
	<array>
		<string>man</string>
		<string>basin</string>
		<string>coach</string>
		<string>seashore</string>
		<string>trucks</string>
		<string>existence</string>
		<string>dogs</string>
		<string>humor</string>
		<string>coil</string>
		<string>ice</string>
		<string>dock</string>
		<string>hour</string>
		<string>drawer</string>
		<string>sidewalk</string>
		<string>summer</string>
		<string>suit</string>
		<string>railway</string>
		<string>month</string>
		<string>quiet</string>
		<string>reading</string>
		<string>yak</string>
		<string>paper</string>
		<string>front</string>
		<string>quilt</string>
		<string>order</string>
		<string>tax</string>
		<string>stocking</string>
		<string>loaf</string>
		<string>chess</string>
		<string>tent</string>
		<string>tomatoes</string>
		<string>creator</string>
		<string>trade</string>
		<string>event</string>
		<string>wealth</string>
		<string>pull</string>
		<string>stew</string>
		<string>camp</string>
		<string>price</string>
		<string>top</string>
		<string>meat</string>
		<string>pencil</string>
		<string>pies</string>
		<string>ducks</string>
		<string>sugar</string>
		<string>sheet</string>
		<string>vase</string>
		<string>salt</string>
		<string>adjustment</string>
		<string>competition</string>
	</array>
</dict>
</plist>
